.container {
   
    background-color: lightgreen;
    width:700px;
    height:450px;
   padding-top: 10px;
   margin: auto;
   border: 5px solid green;
    
    
}

.blue {
    background-color: lightblue;
    width:675px;
    height: 75px;  
    margin:  auto;
    border: 5px solid blue;
    display:flex;
    justify-content: space-around;
    align-items: center;
    
    
   
}

.blue1 {
    
    background-color: lightgoldenrodyellow;
    width: 200px;
    height: 60px;
    margin:  auto;
    border: 3px solid red;

}
 .blue2 {
    
    
    background-color: lightpink;
    height: 45px;
    width: 90px;
    margin: auto;
    border: 3px solid red;
    
 }

 #blue3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border:2px solid red;
 }

 .blue4 {
  background-color: rgb(127, 165, 177);
  display: flex;
  width:200px;
  height:60px;
  border:3px solid blue

 }
 
 #blue4 {
    display: flex;
    justify-content: space-around;
    align-items: center;

 }
 .blue5 {
    
    background-color: lightgoldenrodyellow;
    width: 90px;
    height: 45px;
    border: 3px solid red;
   

 }
 
 .orange {
    display:flex;
    justify-content: space-evenly;
    align-items: center;    
    width: 675px;
    height: 275px;
    
    
    
 }

.orange1 {
   
   background-color:pink;
    width: 330px;
    height: 250px;
    border: 3px solid brown;
    margin: 10px;
    
   
    
}

.orange2  {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
;
}

.orange3 {
    background-color: pink;
    width: 330px;
    height: 130px;
    margin: 10px auto;
    border: 3px solid brown;

   
    
}